services:
   vaultwarden:
      container_name: vaultwarden
      image: vaultwarden/server:latest
      volumes:
         - ./data/:/data/
      ports:
         - 8343:80
      restart: unless-stopped
      environment:
          - ADMIN_TOKEN=""
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.vaultwarden.rule=Host(`bw.wheelerlab.dev`)"
        - "traefik.http.routers.vaultwarden.entrypoints=https"
        - "traefik.http.routers.vaultwarden.tls=true"
        - "traefik.http.services.vaultwarden.loadbalancer.server.port=80" 
      networks:
       - proxy

networks:
  proxy:
    external: true
