apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "uptimekuma.fullname" . }}
  labels:
    {{- include "uptimekuma.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "uptimekuma.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "uptimekuma.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3001
              protocol: TCP
          volumeMounts:
            - name: data
              mountPath: {{ .Values.persistence.mountPath }}
      volumes:
        - name: data
          {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ include "uptimekuma.fullname" . }}
          {{- else }}
          emptyDir: {}
          {{- end }}
