apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: longhorn-web-ui
  namespace: longhorn-system
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`longhorn-dashboard.wheelerlab.dev`)
      kind: Rule
      services:
        - name: longhorn-frontend
          port: 80
  tls:
      secretName: longhorn-dashboard-cert-secret