replicaCount: 1

image:
  repository: louislam/uptime-kuma
  pullPolicy: IfNotPresent
  tag: "2"

service:
  type: ClusterIP
  port: 3001

ingress:
  enabled: true
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
  hosts:
    - host: uptime.wheelerlab.dev
      paths:
        - path: /
          pathType: Prefix
  tls:
   - secretName: uptimekuma-cert-secret
     hosts:
       - uptime.wheelerlab.dev

persistence:
  enabled: true
  size: 1Gi
  storageClassName: "longhorn-retain"
  accessMode: ReadWriteOnce
  mountPath: /app/data

domain: "wheelerlab.dev"
