apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: first-pool
  namespace: metallb-system
spec:
  addresses:
  - 192.168.42.60-192.168.42.69
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: advertise-home-lab-pool
  namespace: metallb-system
spec:
  ipAddressPools:
  - first-pool
